html {
    /*background: url(images/background.jpeg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-color: #FFFFF0;*/ /*ivory*/
	background-image: url("naturebackground.jpg");
}

header{
    font-family:sans-serif;
    font-size-adjust:auto;
    background-color:black;
    color:white;
    text-align:center;
    width:100%;
    padding:2em;
}

body{
	text-align: center; 
}

section#loginBox {
	/*background-color: rgb(255,255,255);*/
	background-color: #00BFFF;
	opacity: 0.8;
	
	/*border: 1px solid rgba(0,0,0,.15);*/
	border:7px solid white; 
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.2) inset, 0 0 4px rgba(0,0,0,0.2);
	margin: 40px auto; /*aligns center*/
	padding: 24px;
	width: 500px;
}

.loginForm input:not([type=submit]) {  
    padding: 5px;  
    margin-right: 10px;  
    border: 1px solid rgba(0, 0, 0, 0.3);  
    border-radius: 3px;  
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),   
                0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;  
}  

input[type=submit] {
    border-radius: 10px;
    border: 10%;
	font-size-adjust:auto; 
    width: 180px;
    height:120px;
    font-family: Tahoma;
    background: white;
	opacity: 0.7; 
	font-size: 20px; 
}

/*beginning of navigation bar*/
nav {
	background-color: #fff;
	opacity: 0.9; 
	border: 4px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(1, 1, 1, 0.055);
	color: #888;
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	width: 95%; 
    justify-content: center;
    text-align: center;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li{
    display:inline-block;
    list-style-type:none;
    float:center;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; 
}

nav > ul > li > a {
    color: black;
    display: block;
    line-height: 56px;
    padding: 0 24px;
	text-decoration: none;
}

nav > ul > li > a > .caret {
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
    transition: color 0.1s linear; 
}

nav > ul > li:hover {
    background-color: rgb( 40, 44, 47 );
}

nav > ul > li:hover > a {
     color: rgb( 255, 255, 255 );
}

nav > ul > li:hover > a > .caret {
    border-top-color: rgb( 255, 255, 255 );
}

nav > ul > li > div {
	background-color: rgb( 40, 44, 47 );
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 165px;
	visibility: hidden;
	z-index: 100;
	
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}

nav > ul > li > div ul > li {
    display: block;
}
	
nav > ul > li > div ul > li > a {
    color: #fff;
    display: block;
    padding: 12px 24px;
    text-decoration: none;
}
	
nav > ul > li > div ul > li:hover > a {
    background-color: rgba( 255, 255, 255, 0.1);
}

nav > ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
}
/*end of navigation bar*/

.visited{
    color:blue;   
}



p{
 text-align: left;   
}

